h1{

  font-size: 47px;
 
}
.post-heading{
text-emphasis-color:#006633 ;
font-size: 1.8em;
}
#main-nav{
    font-size: 1.3em;
}
blockquote{
text-emphasis-color: #33ccff;
font-size: 1.3em;
}