body{
    background-color: red;
}

h1{
    color: black;
    margin-left: 20px;
    
}
.header-three{
    background-color: black;
    font-style: italic;
    color: white;

    
}
#about-us-para{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: bold;
    color: white;
    
}

#featured-artist-para{
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
}

#art-search-para{
    font: medium;
    color:white;
    background-color:black;

}

#suggested-art{
    font: oblique;
    color: white;
    background-color: black;
}
