* {
	box-sizing: border-box;
}
html {
    font-size: 16px; 
    line-height: 1.4rem;
}
img {
	width: 100%;
    max-width: 100%;
}

footer {
    margin: 4rem 0rem;
    padding: 2rem 0rem;
    border-top: 1px solid #ccc;
    font-size: .8rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute; right: 0%; top: 0%;
    
  }
  li {
    float: right;
    float:top;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/bg.jpg);
}
header{
    font-family: 'Slabo 27px', serif;
}
h2{
    font-family: 'Slabo 27px', serif;
    text-decoration: underline;
    text-decoration-color:red;
}
.topnav{
    display: flex;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
blockquote::before{
content: open-quote;
}
blockquote::after{
content: close-quote;
}
/* container for the first image and paragraph */
.firstimg{
    width: 66%; 
    margin: auto;
    align-self: center;
}
.firstp{
    width: 33%;
    display: inline-block;
    
}
.firstcontainer{
    display: flex;
    align-items: center;
}

.secondcontainer{
    margin: auto;
    width: 100%;
    align-self: center;
    text-align: center;
    width: 66%;
    
  }



